// Global values
// --------------------------------------------------

// Responsive sizes

@watch-min-width:               0px;
@watch-max-width:               0px;

@mobile-portrait-min-width:     0px;
@mobile-portrait-max-width:     0px;

@mobile-landscape-min-width:    0px;
@mobile-landscape-max-width:    0px;

@desktop-min-width:             0px;
@desktop-max-width:             100000px;
